# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Tab indentation
[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
end_of_line = lf

[*.bat]
indent_style = tab
end_of_line = crlf

# shell script HEREDOCS work better with tabs
# makefiles *require* tabs
[{*.*sh, Makefile}]
indent_style = tab

[LICENSE]
insert_final_newline = false

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py}]
charset = utf-8

# The indent size used in the `package.json` file cannot be changed
# https://github.com/npm/npm/pull/3180#issuecomment-16336516
[{.travis.yml,npm-shrinkwrap.json,package.json}]
indent_style = space
indent_size = 2

[*.{diff,patch}]
trim_trailing_whitespace = false
