[submodule "autosys/setup_utils"]
	path = autosys/setup_utils
	url = https://www.github.com/skeptycal/setup_utils
[submodule "autosys/file_ops/pathpack"]
	path = autosys/file_ops/pathpack
	url = https://github.com/skeptycal/pathpack.git
