**/*/__pycache__/
**/*/_references/
_repo/
**/*/_repo/
**/*/.cache/
**/*/.coverage
**/*/.coverage.*
**/*/.eggs/
**/*/.hg/
**/*/.hgtags/
**/*/.idea
**/*/.mypy_cache/
.pytest_cache/
**/*/.svn/
**/*/.tox
.vscode/
**/*/*.egg-info
**/*/*.py[cod]
**/*/*.pyc
**/*/*.sw[a-z]
**/*/build-stamp
build/
dist/
**/*/build/
**/*/dist/
**/*/doc/technical_reference/extensions.rst
**/*/doc/technical_reference/features.rst
**/*/htmlcov/
**/*/log
**/*/pylint.egg-info/
**/*/pyve
references/
**/*/references
**/*/tempCodeRunnerFile.py
