**/*/__pycache__/
**/*/_references/
**/*/_repo
**/*/.cache/
**/*/.coverage
**/*/.coverage.*
**/*/.eggs/
**/*/.hg/
**/*/.hgtags/
**/*/.idea
**/*/.mypy_cache/
**/*/.pytest_cache/
**/*/.svn/
**/*/.tox
**/*/.vscode/
**/*/*.egg-info
**/*/*.py[cod]
**/*/*.pyc
**/*/*.sw[a-z]
**/*/build
**/*/build-stamp
**/*/build/
**/*/dist/
**/*/dist/
**/*/doc/_build
**/*/doc/technical_reference/extensions.rst
**/*/doc/technical_reference/features.rst
**/*/htmlcov/
**/*/log
**/*/pylint.egg-info/
**/*/pyve
**/*/references
