*.pyc
*.egg-info
*.bak*
**/*/tmp/
build/
dist/
.tox/
MANIFEST
*.komodoproject
.vscode/
# Project-specific files
**/bak/
**/design/
**/current/

# Python repo files
.coveragerc
.pre-commit-config.yaml
.pylintrc
.travis.yml
pyproject.toml
pytest.ini
tox.ini
toxcov.ini

# Python dev files
**/.gitconfig
**/.gitmodules
**/.mypy_cache/
**/.pytest_cache/
**/.vscode/

# Python build files
**/*.py[cod]
**/*.egg-ignore
**/*.egg-info
**/__pycache__/
**/build/
**/dist/
**/env/
**/venv/

# general ignore files
temp_*
*private*
*bak*
bak/
.oh-my-zsh/
coding/
extras/
py_ssm/
snippets/

medium_token
.lesshst
.pypirc
.dircolors
.coveralls.yml
.wakatime*
.wakatime.cfg
*wakatime*
*goobook*
*private*
.gitconfig
py_ssm/
/unused/
extras/*
temp_*
.viminfo*
*phive*
*private*
*/test/
.npmrc
.vsce
*bak*
.netrc
.vuerc
.ibm-project
.wgetrc
phive.phar.asc

# Home Directory Folders
*Trash*
/Devel*
/Google*Drive
/myagent
.gnupg*

# Home directory files
.archey*
*history*
.rainbow*
.sqltools-setup
.v8flags.*
.wget-hsts
.Xauthority
.zcompdump
.zprofile*

##### DEFAULT DEV .gitignore   @ sortit: nosort, nodupes
##### AS OF MAR 19, 2019

# Created by https://www.gitignore.io/

# no reason to store
/node_modules/
.references/*
/public/hot/
/public/storage/
/.env/
# temp, scratch, bak, etc
# */temp/*
**/*/temp/

# already on github
.git*
/gists/
# system
*/__pycache__
.bash_history
.python_history
/Dropbox/
# security
*history*
config.py
config.json
sftp.json
*/*.key
*/*.suo
.pass
*/*.user
*/*.userosscache
database_connect.py
multi_db_connect.py
*/.extra
/setup/
*/private/*
*private
*Private*
crypto.*

#######################################  @sortit: sort_alpha, nodupes
!**/[Pp]ackages/build/
!*.[Cc]ache/
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!.axoCover/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!/gradle/wrapper/gradle-wrapper.jar
!/logs/empty
!/storage/.keep
!/tmp/cache/models/empty
!/tmp/cache/persistent/empty
!/tmp/cache/views/empty
!/tmp/sessions/empty
!/tmp/tests/empty
!?*.[Cc]ache/
![Aa]ssets/**/*.meta
!Build/
!Build/**/*.ico
!Build/*/
!Build/*/PakBlacklist*.txt
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!gradle-wrapper.jar
!tools/packages.config
$RECYCLE.BIN/
$tf/
*$py.class
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.rs.bk
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/[Pp]ackages/*
**/Properties/launchSettings.json
**/wwwroot/lib/
**/xcshareddata/WorkspaceSettings.xcsettings
*- Backup*.rdl
*-blx.aux
*-blx.bib
*-concordance.tex
*-converted-to.*
*-Ex.R
*-gnuplottex-*
*-prefix/
*-tags.tex
*-tikzDictionary
*.3dm
*.4ct
*.4tc
*.7z
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9][0-9][0-9]R
*.[1-9][0-9]R
*.[1-9]R
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.a
*.aab
*.accdb
*.acn
*.acr
*.aep
*.ai
*.alg
*.ap_
*.apk
*.apng
*.app
*.apples
*.appx
*.aps
*.ar
*.autosave
*.aux
*.auxlock
*.azurePubxml
*.backup
*.BACKUP.*
*.bak
*.BASE.*
*.basic
*.bbl
*.bc
*.bcf
*.bim.layout
*.bim_*.settings
*.binlog
*.blg
*.bmp
*.booproj
*.bowerrc
*.brf
*.bridgesupport
*.bs
*.btm.cs
*.btp.cs
*.build
*.build.csdef
*.cab
*.cachefile
*.cb
*.cb2
*.chi
*.chs.h
*.class
*.cmd
*.com
*.config
*.cover
*.coverage
*.coveragexml
*.cpio
*.cpt
*.creator
*.creator.user*
*.csproj
*.css.map
*.csv
*.ctxt
*.cubin
*.cut
*.d
*.dat
*.db
*.dbf
*.dbmdl
*.dbproj.schemaview
*.deb
*.def
*.dex
*.dib
*.dll
*.dmg
*.dotCover
*.DotSettings.user
*.dpth
*.dSYM
*.dSYM.zip
*.dSYM/
*.dvi
*.dylib
*.dyn_hi
*.dyn_o
*.e2e
*.ear
*.efx
*.egg
*.egg-info/
*.el
*.elc
*.eledsec[1-9]
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
*.eledsec[1-9][0-9]R
*.eledsec[1-9]R
*.elf
*.end
*.ent
*.eventlog
*.exe
*.exe~
*.exp
*.fatbin
*.fdb_latexmk
*.fff
*.files
*.fls
*.fmt
*.fot
*.gaux
*.gbr
*.gch
*.gem
*.GhostDoc.xml
*.glg
*.glo
*.gls
*.glsdefs
*.glstex
*.gpState
*.gpu
*.gtex
*.gz
*.hdp
*.hex
*.hi
*.hmap
*.hp
*.hst
*.i
*.i*86
*.ico
*.idb
*.idv
*.idx
*.ii
*.ilg
*.ilk
*.iml
*.includes
*.ind
*.indd
*.ini
*.iobj
*.ipa
*.ipdb
*.ipr
*.iso
*.ist
*.iws
*.j2k
*.jar
*.jfi
*.jfif
*.jfm
*.jif
*.jl.*.cov
*.jl.cov
*.jl.mem
*.jmconfig
*.jp2
*.jpe
*.jpeg
*.jpf
*.jpm
*.jpx
*.jsc
*.jxr
*.key
*.knit.md
*.ko
*.la
*.lai
*.LBR
*.lbr
*.ldf
*.lg
*.lib
*.listing
*.llb
*.lnk
*.lo
*.loa
*.LOCAL.*
*.lod
*.loe
*.lof
*.log
*.lol
*.lot
*.lox
*.lvlibp
*.lvlps
*.lyx~
*.maf
*.manifest
*.map
*.mar
*.max
*.md5
*.mdb
*.mdb.meta
*.mdf
*.meta
*.mf
*.mj2
*.mlf
*.mlt
*.mm.*
*.mng
*.mno
*.mo
*.moc
*.mod
*.mod*
*.mode1v3
*.mode2v3
*.moved-aside
*.mp
*.msi
*.msix
*.msm
*.msp
*.mtc[0-9]*
*.mw
*.nar
*.nav
*.ncb
*.ndf
*.nlg
*.nlo
*.nls
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.o
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.orig
*.os
*.out
*.pax
*.pbxuser
*.pch
*.pdb
*.pdb.meta
*.pdf
*.pdfpc
*.pdfsync
*.perspectivev3
*.pfx
*.pgc
*.pgd
*.pid
*.pid.lock
*.pidb
*.pidb.meta
*.plg
*.pm.tdy
*.pot
*.pps
*.ppt
*.pptx
*.pre
*.pro.user
*.pro.user.*
*.prof
*.prproj
*.psd
*.psess
*.ptx
*.publishproj
*.publishsettings
*.pubxml
*.py[cod]
*.pyc
*.pyg
*.pytxcode
*.qbs.user
*.qbs.user.*
*.qmlc
*.qmlproject.user
*.qmlproject.user.*
*.rar
*.raw
*.rbc
*.rdl.data
*.rej
*.rel
*.REMOTE.*
*.retry
*.rpm
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.run.xml
*.sage.py
*.sagetex.py
*.sagetex.sage
*.sagetex.scmd
*.sap
*.sass.map
*.sav
*.sbr
*.scc
*.scss.map
*.sdf
*.seed
*.shar
*.slf[0-9]*
*.sln
*.sln.docstates
*.sln.iml
*.slo
*.slt[0-9]*
*.smod
*.snm
*.so
*.so.*
*.soc
*.sout
*.spec
*.spl
*.sqlite3
*.src.rock
*.sta
*.stackdump
*.stc[0-9]*
*.stTheme.cache
*.su
*.sublime-workspace
*.suo
*.svclog
*.svd
*.svgz
*.swp
*.sympy
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.t[1-9]
*.t[1-9][0-9]
*.tar
*.tar.gz
*.tax2010
*.tdo
*.test
*.tfm
*.tgz
*.thm
*.tif
*.tiff
*.tikz
*.tlb
*.tlh
*.tli
*.tmlanguage.cache
*.tmp
*.tmp_proj
*.tmPreferences.cache
*.toc
*.trc
*.tss
*.ttt
*.unitypackage
*.unityproj
*.upa
*.upb
*.user
*.userosscache
*.userprefs
*.utf8.md
*.vbw
*.VC.db
*.VC.opendb
*.VC.VC.opendb
*.vcf
*.ver
*.VisualState.xml
*.vrb
*.vsp
*.vspscc
*.vspx
*.vssscc
*.war
*.wdp
*.webp
*.wrt
*.x86_64
*.xbm
*.xccheckout
*.xcodeproj
*.xcodeproj/*
*.xcp
*.xcscmblueprint
*.xcworkspace
*.xdv
*.xdy
*.xlk
*.xml
*.xmpi
*.xpi
*.xref
*.xsd.cs
*.xyc
*.zip
*.~vsd*
*/.ipynb_checkpoints/*
*_archive
*_BACKUP_*.txt
*_BASE_*.txt
*_BuiltData.uasset
*_flymake.*
*_h.h
*_i.c
*_i.h
*_LOCAL_*.txt
*_p.c
*_plugin_import.cpp
*_REMOTE_*.txt
*_wpftmp.csproj
*build-*
*~
*~[0-9]*
.*.lb
.*.sw?
.*crunch*.local.xml
./auto/*
.\#*
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.axoCover/*
.buckconfig.local
.buckd/
.buckversion
.build/
.builds
.byebug_history
.cabal-sandbox/
.cache
.cache/
.cask/
.classpath
.com.apple.timemachine.donotpresent
.consulo/
.coverage
.coverage.*
.cpcache/
.cproject
.cr/
.cr/personal
.dat*
.dir-locals.el
.directory
.dmypy.json
.DocumentRevisions-V100
.dropbox
.dropbox.attr
.dropbox.cache
.DS_Store
.DS_Store?
.dynamodb/
.eggs/
.env
.env.test
.eslintcache
.expo
.externalNativeBuild
.fake/
.fakebuckversion
.fseventsd
.fuse_hidden*
.fusebox/
.ghc.environment.*
.gradle
.gradle/
.gradletasknamecache
.grunt
.history
.hpc
.hsenv
.HTF/
.httr-oauth
.hypothesis/
.idea
.idea/
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/.name
.idea/assetWizardSettings.xml
.idea/caches
.idea/caches/
.idea/caches/build_file_checksums.ser
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dataSources.ids
.idea/datasources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/httpRequests
.idea/jsLibraryMappings.xml
.idea/libraries
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/mongoSettings.xml
.idea/replstate.xml
.idea/scopes/scope_settings.xml
.idea/shelf/
.idea/sonarlint
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.jekyll-cache/
.jekyll-metadata
.JustCode
.last_cover_stats
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.localhistory/
.lock-wscript
.LSOverride
.mfractor/
.mtj.tmp/
.mypy_cache/
.navigation/
.netrwhist
.next
.nfs*
.node_repl_history
.nox/
.npm
.nrepl-port
.ntvs_analysis.dat
.nuxt
.nyc_output
.org-id-locations
.packages
.paket/paket.exe
.pdf
.phpunit.result.cache
.powenv
.project
.projectile
.pydevproject
.pyre/
.pytest_cache/
.Python
.python-version
.Rapp.history
.RData
.repl_history
.Rhistory
.ropeproject
.Rproj.user/
.rspec
.rvmrc
.sass-cache/
.scrapy
.serverless/
.settings
.settings/
.signing/
.Spotlight-V100
.spyderproject
.spyproject
.stack-work/
.svn
.TemporaryItems
.texpadtmp
.tmp/
.tmp_versions/
.tox/
.Trash-*
.Trashes
.venv
.venv/
.VolumeIcon.icns
.vs/
.vscode/
.vuepress/dist
.webassets-cache
.yarn-integrity
/*.gcno
/*.gz
/*.Rcheck/
/*.tar.gz
/*.zip
/*/*/build
/*/*/production
/*/build/
/*/local.properties
/*/out
/*_cache/
/*_files/
/.build/
/.bundle
/.bundle/
/.config
/.emacs.desktop
/.emacs.desktop.lock
/.idea
/.pow*
/.qmake.cache
/.qmake.stash
/.rbenv-version
/.rvmrc
/.sass-cache
/.vagrant
/.yardoc/
/_eumm/
/_yardoc/
/app/**/*.js
/app/**/*.js.map
/app/Config/core.php
/app/Config/database.php
/app/tmp/*
/auto/
/bin/
/blib/
/bower_components
/build/
/cache/
/checkouts/
/classes/
/config/app.php
/connect.lock
/coverage/
/coverage/*
/db/*.sqlite3
/db/*.sqlite3-journal
/dist
/doc/
/e2e/*.js
/e2e/*.map
/elpa/
/eshell/history
/eshell/lastdir
/Godeps/
/InstalledFiles
/lib/
/lib/bundler/man/
/libpeerconnection.log
/log
/logs/*
/Makefile
/Makefile.old
/MANIFEST.bak
/META.json
/META.yml
/MYMETA.*
/network-security.data
/node_modules
/out/
/pkg/
/pm_to_blib
/public/assets
/public/hot
/public/packs
/public/packs-test
/public/storage
/public/system
/rdoc/
/server/
/site
/spec/examples.txt
/spec/reports/
/spec/tmp
/storage/*
/storage/*.key
/target/
/test/tmp/
/test/version_tmp/
/tmp
/tmp/
/tmp/cache/models/*
/tmp/cache/persistent/*
/tmp/cache/views/*
/tmp/sessions/*
/tmp/tests/*
/typings
/vendor
/vendor/
/vendor/*
/vendor/assets/bower_components
/vendor/bundle
/vendors/*
/wpcs/*
/yarn-error.log
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Aa][Rr][Mm]64/
[Aa][Rr][Mm]/
[Bb]in
[Bb]in/
[Bb]uild/
[Bb]uild[Ll]og.*
[Bb]uilds/
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress/
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ibrary/
[Ll]ocal
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Ss]cripts
[Tt]emp/
[Tt]est[Rr]esult*/
\#*\#
__generated__
__pycache__/
_build/
_Chutzpah*
_compareTemp
_deps
_minted*
_NCrunch_*
_notes
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_site/
_TeamCity*
_UpgradeReport_Files/
acs-*.bib
app/storage/
AppPackages/
artifacts/
ASALocalRun/
Assets/AssetStoreTools*
Assets/StreamingAssets/crashlytics-build.properties
atlassian-ide-plugin.xml
auto-save-list
AutoTest.Net/
Backup of *.doc*
Backup*/
BenchmarkDotNet.Artifacts/
bh_unicode_properties.cache
bin/
Binaries/*
bld/
bootstrap/compiled.php
bower.json
bower_components
bower_components/
buck-out/
Build
build-iPhoneOS/
build-iPhoneSimulator/
Build.bat
build/
Build/*
Build/*/**
build/Release
BundleArtifacts/
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
captures/
capybara-*.html
Cargo.lock
Carthage/Build
celerybeat-schedule
ClientBin/
cmake-build-*/
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeLists.txt.user*
CMakeScripts
com_crashlytics_export_strings.xml
compile_commands.json
composer.phar
config/autoload/*.local.php
config/initializers/secret_token.rb
config/master.key
configs/
cover_db/
coverage
coverage.xml
crashlytics-build.properties
crashlytics.properties
csx/
CTestTestfile.cmake
data/cache/
data/DoctrineORMModule/cache/
data/DoctrineORMModule/Proxy/
data/logs/
data/sessions/
data/tmp/
db.json
db.sqlite3
demos/
deps/deps.jl
DerivedData/
DerivedDataCache/*
Desktop.ini
develop-eggs/
dist
dist-*
dist/
dkms.conf
dlldata.c
dmypy.json
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
docs/_book
docs/_build/
downloads/
dw_php_codehinting.config
dwsync.xml
ecf/
eggs/
ehthumbs.db
ehthumbs_vista.db
env.bak/
ENV/
env/
ExportedObj/
extras/documentation
fabric.properties
FakesAssemblies/
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/screenshots/**/*.png
fastlane/test_output
flycheck_*.el
freeline.py
freeline/
freeline_project_description.json
gen-external-apklibs
gen/
Generated\ Files/
Generated_Code/
GitHub.sublime-settings
google-services.json
gradle-app.setting
hadoop-common-project/hadoop-common/src/test/resources/contract-test-options.xml
hadoop-common-project/hadoop-kms/downloads/
hadoop-hdfs-project/hadoop-hdfs-httpfs/downloads
hadoop-hdfs-project/hadoop-hdfs/downloads
hadoop-tools/hadoop-openstack/src/test/resources/contract-test-options.xml
healthchecksdb
Homestead.json
Homestead.yaml
hs_err_pid*
htmlcov/
Icon
inc/
install_manifest.txt
instance/
instance/*
Intermediate/*
iOSInjectionProject/
ipch/
ipython_config.py
jspm_packages/
latex.out/
lib64/
lib-cov
lib/
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
local_settings.py
logs
luac.out
Makefile
Makefile*
MANIFEST
media
Mkfile.old
moc_*.cpp
moc_*.h
Module.symvers
modules.order
modules.xml
nCrunchTemp_*
Network Trash Folder
node_modules
node_modules/
nosetests.xml
npm-debug.log
npm-debug.log*
nytprof.out
obj/
object_script.*.Debug
object_script.*.Release
OpenCover/
orleans.codegen.cs
oscrypto-ca-bundle.crt
out/
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Package.StoreAssociation.xml
paket-files/
parts/
pickle-email-*.html
pids
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
pip-wheel-metadata/
playground.xcworkspace
Plugins/*/Binaries/*
Plugins/*/Intermediate/*
Pods/
pom.xml
pom.xml.asc
profile_default/
proguard/
project.fragment.lock.json
project.lock.json
public/
public/hot
public/storage
publish/
PublishScripts/
pythontex-files-*/
pyvenv.cfg
qrc_*.cpp
rcf/
rerun.txt
Saved/*
sdist/
secring.*
ServiceFabricBackup/
Session.vim
sftp-config.json
share/python-wheels/
someOtherfoler/
SourceArt/**/*.png
SourceArt/**/*.tga
storage/*.key
StyleCopReport.xml
sympy-plots-for-*.tex/
sysinfo.txt
tags
target
target/
target_wrapper.*
Temporary Items
**/*/test/
testem.log
Testing
TestResult.xml
Thumbs.db
timeline.xctimeline
tools/*
tramp
TSWLatexianTemp*
typings/
ui_*.h
UpgradeLog*.htm
UpgradeLog*.XML
var/
vcs.xml
vendor/
venv.bak/
venv/
vignettes/*.html
vignettes/*.pdf
wheels/
x64/
x86/
xcuserdata/
yarn-debug.log*
yarn-error.log
yarn-error.log*
~$*
~$*.doc*
~$*.ppt*
~$*.xls*
