[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pytest = "*"
pylint = "*"
numpy = "*"
docopts = "*"
requests = "*"
bs4 = "*"
twine = "*"
matplotlib = "*"
docopt = "*"
beautifulsoup4 = "*"
lxml = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
