[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
APScheduler = "*"
autopep8 = "*"
autosys = "*"
bs4 = "*"
click-spinner = "*"
codecov = "*"
Cython = "*"
docopt = "*"
flake8 = "*"
Flask = "*"
isort = "*"
pathlib2 = "*"
pathspec = "*"
pydash = "*"
pygments-pytest = "*"
pylint="*"
pytest-bench = "*"
pytest-cov = "*"
pytest-pydocstyle = "*"
pytest-race = "*"
pytest-sugar = "*"
pytest = "*"
regex = "*"
shellingham = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"
streamlit = "*"
tabulate = "*"
tox-travis = "*"
tox = "*"
trafaret = "*"
twine = "*"
typed-ast = "*"
typer = "*"
ujson = "*"
yfinance = "*"

[packages]
APScheduler = "*"
bs4 = "*"
click-spinner = "*"
Cython = "*"
docopt = "*"
Flask = "*"
pathlib2 = "*"
pathspec = "*"
pydash = "*"
regex = "*"
shellingham = "*"
streamlit = "*"
tabulate = "*"
trafaret = "*"
twine = "*"
typed-ast = "*"
typer = "*"
ujson = "*"
yfinance = "*"

[requires]
python_version = "3.8"
