ansicolors
apipkg
astroid
atomicwrites
attrs
autopep8
certifi
chardet
Click
coverage
Cython
doc8
docutils
entrypoints
execnet
flake8
Flask
idna
importlib-metadata
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
more-itertools
packaging
pbr
pluggy
py
pycodestyle
pyflakes
pylint
pyparsing
pytest
pytest-cov
pytest-forked
pytest-runner
pytest-xdist
requests
restructuredtext-lint
six
stevedore
typed-ast
ujson
urllib3
wcwidth
Werkzeug
wrapt
yapf
zipp
