astroid==2.3.3
attrs==19.3.0
-e git+https://github.com/skeptycal/autosys.git@77c8c40654b6686e2ff16cfad1ff6a6dfdb74f9b#egg=autosys
beautifulsoup4==4.8.2
bleach==3.1.4
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
docopt==0.6.1
docopts==0.6.1
docutils==0.16
idna==2.9
isort==4.3.21
keyring==21.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==3.2.1
mccabe==0.6.1
more-itertools==8.2.0
numpy==1.18.2
packaging==20.3
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.8.1
Pygments==2.6.1
pylint==2.4.4
pyparsing==2.4.6
pytest==5.4.1
python-dateutil==2.8.1
readme-renderer==25.0
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
soupsieve==2.0
tqdm==4.44.1
twine==3.1.1
urllib3==1.25.8
wcwidth==0.1.9
webencodings==0.5.1
wrapt==1.11.2
